.page-section{
    padding: 1.2rem 0px; 
    @mixin atMedium{
        padding: 4.5rem 0px; 
    }
    &--blue{
        background-color: $mainBlue;
        color:#FFF;
    }
    &--testimonials{
        background: url('/assets/images/testimonials-bg.jpg') top center no-repeat;
        background-size: cover;
    }
}